@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";
@plugin "daisyui";

:root {
  --accent: #30a675;
  --accent-dark: #184f38;
  --background-secondary: #fff;
  --background: #efefef;
  --foreground: #171717;
  --font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

[data-theme="dark"] {
  --accent: #30a675;
  --accent-dark: #184f38;
  --foreground: #efefef;
  --background: #171717;
  --background-secondary: #050505;
  --font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

@theme {
  --color-accent: var(--accent);
  --color-accent-dark: var(--accent-dark);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-secondary: var(--background-secondary);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family), sans-serif;
}


.page-padding {
  @apply lg:p-16 lg:pt-32 md:p-8 md:pt-24 p-4 pt-20;
}
.page-padding-with-breadcrumbs {
  @apply lg:p-16 lg:pt-44 md:p-8 md:pt-36 p-4 pt-32;
}


.input-container {
  @apply w-full flex flex-col gap-2;
}

.input-label {
  @apply text-start tracking-wide text-accent;
}

.input-bar {
  @apply w-full p-2 border border-gray-300 rounded-md focus:outline-0 focus:border-accent focus:shadow-md placeholder:text-gray-300 duration-200 hover:border-gray-400;
}

.submit-btn {
  @apply w-full text-center bg-accent rounded-md shadow-md text-white font-semibold hover:bg-accent-dark hover:shadow-lg duration-200 p-2 cursor-pointer;
}

.submit-btn-disabled {
  @apply bg-accent-dark! cursor-not-allowed;
}


.submit-btn2 {
  @apply w-fit text-center bg-accent rounded-md shadow-md text-white font-semibold hover:bg-accent-dark hover:shadow-lg duration-200 p-2 cursor-pointer;
}

.submit-btn3 {
  @apply w-fit text-center bg-transparent rounded-md text-accent border border-accent font-semibold hover:bg-accent hover:text-white duration-200 px-3 py-1 cursor-pointer;
}

.submit-btn3-disabled {
  @apply border-accent-dark! text-accent-dark! bg-transparent! cursor-not-allowed;
}


.delete-btn3 {
  @apply w-fit text-center bg-transparent rounded-md text-red-600 border border-red-600 font-semibold hover:bg-red-600 hover:text-white duration-200 px-3 py-1 cursor-pointer;
}

.delete-btn3-disabled {
  @apply border-red-950! text-red-950! hover:bg-transparent! cursor-not-allowed!;
}

.error-msg {
  @apply text-red-700 whitespace-pre-line text-center;
}

h1 {
  @apply text-accent font-semibold tracking-wide md:text-3xl text-xl;
}

.link-1 {
  @apply underline text-accent hover:text-accent-dark;
}


.cancel-btn {
  @apply hover:text-gray-400 text-gray-500 cursor-pointer
}